<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="violations-container">

      <div ng-controller="ViolationsController" ng-app="violations" id="violations-container">

      <div class="hed">
         Quality of life violations in 2014
      </div>

      <div class="chatter">
        Police issued 27,315 quality of life citations in 2014, the latest full year of data available. The violations break down as follows:
      </div>

      <div class="violations-graph" ng-repeat="co in violationsData">
            <div class="bar-title">{{co.violation}}</div>
              <div class="bar-container">
                <div class="violations-bar"
                  ng-style="{ width: {{co.count/max*85}} + '%' }">
                </div>
                <div class="violations-text {{co.count_text}}">{{co.count_text}}</div>
              </div>
        </div>

      <div class="credit">
        <div class="entry">Kurtis Alexander  &bull; <a href="mailto:kalexander@sfchronicle.com">kalexander@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/kurtisalexander" target="_blank">@kurtisalexander</a></div>
        <div class="entry">Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></div>
      </div>
      <div class="source">
        <em>Source: San Francisco Police Department.</em>
      </div>

    </div>

  </div>

  </responsive-child>

    <script>
      var violationsData = <%= JSON.stringify(csv.violations_data) %>;
      console.log(violationsData);
      var pymChild = new pym.Child({polling: 500});
    </script>

    <script src="../violations_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
