<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="bubbles-illness-container">

      <div class="outer">

      <div class="hed">
        What is the biggest health challenge facing
        <div class="info"></div>
      </div>

      <div class="chart">

        <div class="dropdown">
          Choose a homeless population:
          <select name="select">
            <option selected="selected" disabled="disabled">--</option>
            <option value=0>All homeless</option>
            <option value=1>Long-term homeless</option>
            <option value=2>Top 1%</option>
            <option value=3>Top 2-5%</option>
            <option value=4>Elderly</option>
            <option value=5>Women</option>
            <option value=6>Transitional-age youth</option>
          </select>

          <div class="controls">
            <div class="start selected"><i class="fa fa-play"></i></div>
            <div class="pause"><i class="fa fa-pause"></i></div>
          </div>
        </div>

        <div class="bubbles">
          <div class="tooltip"></div>
        </div>

        <div class="note">Hover over or click on a bubble for more information.</div>
      </div>

      <div class="credit">
        <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>
      <div class="source">
        <em>Source: <a href="www.google.com" target="_blank">Source goes here.</a></em>
      </div>
    </div>


    </responsive-child>

    <script>
      var illnessData = <%= JSON.stringify(csv.illness_data_short_v2) %>;
    </script>

    <script src="../illness.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
