<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body is="responsive-body">

      <div class="outer">
        <div class="hed">Code violations at housing for the homeless</div>
        <div class="chatter mapchatter desktop">The Crosby Hotel had by far the most building code violations among supportive housing sites in San Francisco from the start of 2015 to August 2016. The large number of violations reflect ongoing maintenance issues, but also tenants’ concerted efforts to report problems. The number of violations at the Crosby has decreased in 2016, suggesting that efforts to maintain the hotel are improving. Compare the Crosby to other supportive housing and all other cited properties in the city in that period by hovering over the dots on the map below.</div>
        <div class="chatter mapchatter mobile">The Crosby Hotel had by far the most building code violations among supportive housing sites in San Francisco from the start of 2015 to August 2016. The large number of violations reflect ongoing maintenance issues, but also tenants’ concerted efforts to report problems. The number of violations at the Crosby has decreased in 2016, suggesting that efforts to maintain the hotel are improving. See how the Crosby compares to other supportive housing and all other cited properties in the city on the map below.</div>
        <div class="legend">
          <div class="legend-entry"><div class="crcs-swath"><div class="legend-text">Supportive housing</div></div></div>
          <div class="legend-entry"><div class="others-swath"><div class="legend-text">All other properties</div></div></div>
        </div>

        <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">

            <leaflet-map zoom=12 id="sros-map">
              <tile-layer layer="cartoPositron"></tile-layer>
            </leaflet-map>

          </div>
        </div>
        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">Source: <em>Department of Building Inspections</em></div>
        <div class="source">About the data: <em>The data covers all building code violations from 2015 through August 2016. Due to the limitations of DBI’s database, the violation numbers are likely inflated for all properties in the city and should be viewed as estimates.<p>* These properties recently transitioned to supportive housing. Many of the violations were issued before they became supportive housing.</p></em></div>

      </div>
      <div class="tooltip-srosmap"></div>

    <script>
      var srosMapData = <%= JSON.stringify(csv.DBI_Vios) %>;
    </script>
    <script src="http://projects.sfchronicle.com/shared/js/responsive-child.js"></script>

    <script src="../srosmap_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
