<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="bubbles-costs-container">

      <div class="outer">

        <div class="hed">
           Urgent and emergent services for the homeless are expensive
        </div>

        <div class="chatter">
          The San Franciso Department of Health accrues costs that vary across the different homeless populations. Spending is predominantly for medical care.
        </div>

        <!-- <div class="chart"> -->

        <div class="legend-container">
          <div class="legend-element"><div class="medical swatch"></div><div class="key">Medical care costs</div></div>
          <div class="legend-element"><div class="mental swatch"></div><div class="key">Mental health care costs</div></div>
          <div class="legend-element"><div class="sa swatch"></div><div class="key">Substance abuse costs</div></div>
        </div>


          <div class="stacked-bar-graph">
            <div class="tooltip"></div>
          </div>

        <!-- </div> -->

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">
          <em>Source: <a href="https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6" target="_blank">311 data</a></em>
        </div>

    </div>

    </responsive-child>

    <script>
      var costsData = <%= JSON.stringify(csv.financial_data) %>;
      console.log(costsData);
    </script>

    <script src="../costs_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
