<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="bubbles-illness-container">

      <div class="outer">

        <div class="hed">
          The health conditions plaguing SF’s homeless population
        </div>
        <div class="chatter">Many of the homeless individuals in San Francisco grapple with a confluence of mental health, medical and substance abuse issues. The most medically challenged subset of the population – the 338 people accessing the most emergency services – are far more likely to have a complex combination of health ailments.</div>

        <div class="button-container">
          <div class="all selected" id="all">All homeless</div>
          <div class="onepercent" id="one">High risk homeless</div>
        </div>

        <div class="legend-container bubbles-legend selected" id="legend-all">
          <div class="legend-element"><div class="noproblem swatch"></div><div class="key">No diagnosis (26.0%)</div></div>
          <div class="legend-element"><div class="medical swatch"></div><div class="key">Medical diagnosis only (4.7%)</div></div>
          <div class="legend-element"><div class="mental swatch"></div><div class="key">Mental health diagnosis only (5.9%)</div></div>
          <div class="legend-element"><div class="sa swatch"></div><div class="key">Substance abuse diagnosis only (7.8%)</div></div>
        </div>
        <div class="legend-container bubbles-legend" id="legend-onepercent">
          <div class="legend-element"><div class="noproblem swatch"></div><div class="key">No diagnosis (6.8%)</div></div>
          <div class="legend-element"><div class="medical swatch"></div><div class="key">Medical diagnosis only (1.5%)</div></div>
          <div class="legend-element"><div class="mental swatch"></div><div class="key">Mental health diagnosis only (3.3%)</div></div>
          <div class="legend-element"><div class="sa swatch"></div><div class="key">Substance abuse diagnosis only (3.3%)</div></div>
        </div>

        <div class="chart">
          <div class="bubbles" id="vennbubbles">
          </div>
        </div>

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">
          <em>Source: Department of Public Health’s Coordinated Care Management System data</em>
        </div>

    </div>

    </responsive-child>

    <script>
      var illnessData1Percent = <%= JSON.stringify(json.top1percent) %>;
      var illnessDataAll = <%= JSON.stringify(json.allhomeless) %>;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

    <script src="../illness_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
