<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="bubbles-illness-container">

      <div class="outer">

        <div class="hed">
          The homeless in SF have many health problems, often multiple health problems
        </div>
        <div class="chatter">This is something about the data maybe. Hover over the chart for more information.</div>
        <div class="legend-container bubbles-legend">
          <div class="legend-element"><div class="sick swatch"></div><div class="key">Homeless with one or more serious health diagnoses</div></div>
          <div class="legend-element"><div class="notsick swatch"></div><div class="key">Homeless with no health diagnoses</div></div>
        </div>

        <div class="chart">
          <div class="bubbles-all">
            <div class="tooltip-all"></div>
          </div>
        </div>

        <div class="hed">
          The top 1% of emergency care users among the homeless have the worst health problems
        </div>
        <div class="chatter">This is something about the data maybe. Hover over the chart for more information.</div>
        <div class="legend-container bubbles-legend">
          <div class="legend-element"><div class="sick swatch"></div><div class="key">Homeless with one or more serious health diagnoses</div></div>
          <div class="legend-element"><div class="notsick swatch"></div><div class="key">Homeless with no health diagnoses</div></div>
        </div>
        <div class="chart">
          <div class="bubbles">
            <div class="tooltip"></div>
          </div>
        </div>

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">
          <em>Source: <a href="www.google.com" target="_blank">This is the data source</a></em>
        </div>

    </div>

    </responsive-child>

    <script>
      var illnessData1Percent = <%= JSON.stringify(json.top1percent) %>;
      var illnessDataAll = <%= JSON.stringify(json.allhomeless) %>;
    </script>

    <script src="../illness_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
