<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
  <body>

    <responsive-child class="map-container">
      <div class="outer">

        <div class="hed">Complaints and police calls involving homeless are on the rise</div>
        <div class="chatter">The number of complaints regarding homeless camps made to San Francisco’s 311 portal, as well as police calls considered homeless related, have increased over the past three years.</div>

        <div class="map-options" id="mapoptions">
          <div class="map311 selected" id="map311">311 complaints</div>
          <div class="map911" id="map911">Police citations</div>
        </div>

        <div class="display-year"></div>
        <div class="controls">
          <div class="start selected"><i class="fa fa-play"></i></div>
          <div class="pause"><i class="fa fa-pause"></i></div>
        </div>
        <div class="display-info info311 selected" id="map311-info">311 calls pertaining to encampments have spiked over the past year. As of mid-May, there had already been nearly 7,000 encampment related complaints, a 55 percent increase from all of 2015.</div>
        <div class="display-info info911" id="map911-info">Police arrests and citations are displayed for three 12-month periods beginning and ending in March. The number of citations and arrests makes up a small percentage of all dispatched police calls, which are displayed in the bar charts below.</div>

        <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">

            <leaflet-map zoom=12 id="map">
              <tile-layer layer="cartoPositron"></tile-layer>
            </leaflet-map>

          </div>
        </div>

        <div class="header311 active">
          <div class="hed barhed">Encampment complaints are a growing proportion of all 311 calls.</div>
          <div class="chatter">While 311 has become more popular in recent years, the number of grievances regarding homeless camps has increased at an especially high rate.</div>
        </div>
        <div class="header911">
          <div class="hed barhed">Homeless-related police calls increasing</div>
          <div class="chatter">The number of homeless-related police calls – which, among other things, include a homeless person trespassing, occupying an encampment, or lying on the sidewalk – have increased steadily over the past three years. Such calls make up a small subset of all police interactions with the homeless. Other quality of life violations account for thousands of additional interactions.</div>
          <div class="legend-container">
            <div class="legend-element"><div class="dispatched919 swatch"></div><div class="key">Dispatched sit-lie calls</div></div>
            <div class="legend-element"><div class="cite919 swatch"></div><div class="key">Sit-lie citations and arrests</div></div>
            <div class="legend-element"><div class="dispatched915 swatch"></div><div class="key">Dispatched homeless-related calls</div></div>
            <div class="legend-element"><div class="cite915 swatch"></div><div class="key">Homeless-related citations and arrests</div></div>
          </div>
        </div>
        <div class="bar-chart" id="bar-chart"></div>

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">Source:
          <em><a href="https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6" target="_blank">Department of Emergency Management, 311</a></em>
        </div>

      </div>

    </responsive-child>

    <script>
      if (screen.width <= 480) {
        var calls311DataMobile = <%= JSON.stringify(csv.EncampmentCalls_quarter) %>;
        var calls911DataMobile = <%= JSON.stringify(csv.Data911_map_quarter) %>;
      } else {
        var calls311DataDesktop = <%= JSON.stringify(csv.EncampmentCalls) %>;
        var calls911DataDesktop = <%= JSON.stringify(csv.Data911_map) %>;
      }
      var barchart311Data = <%= JSON.stringify(csv.Data311_barchart) %>;
      var barchart911Data = <%= JSON.stringify(csv.Data911_barchart) %>;
      var pymChild = new pym.Child({polling: 500});
    </script>

    <script src="../app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
