<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="costs-container">

      <div class="outer">

        <div class="hed">
           San Francisco has a high proportion of homeless
        </div>

        <div class="chatter">
          San Francisco is one of the cities with the highest proportion of homeless to the general population, and many of those homeless are unsheltered. The size of the circles is proportional to the number of unsheltered homeless per 100,000 county residents. Note that we did not display data for New York City or Los Angeles.
        </div>

        <div class="city-graph" id="city-graph"></div>

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">
          <em>Source: <a href="https://data.sfgov.org/City-Infrastructure/Case-Data-from-San-Francisco-311-SF311-/vw6y-z8j6" target="_blank">311 data</a></em>
        </div>

    </div>

    </responsive-child>

    <script>
      var pitData = <%= JSON.stringify(csv.homeless_pit_data_2015) %>;
    </script>

    <script src="../bycity_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
