<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="costs-container">

      <div class="outer">

        <div class="hed">
           How big is SF’s homeless population?
        </div>

        <div class="chatter">
          San Francisco’s homeless population ranks below a handful of other major cities. Boston, Atlanta, New York City and Washington, D.C., all have more homeless people per-capita than San Francisco, according to Housing and Urban Development estimates. San Francisco, however, has the highest proportion of unsheltered homeless, counting 511 people on the streets for every 100,000 residents. (The size of the circles is proportional to the number of unsheltered homeless.) Of all major cities, Los Angeles has the second-highest unsheltered homeless population, at roughly 300 people per 100,000 residents.
        </div>

        <div class="city-graph" id="city-graph"></div>

        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">About the data: We did not include data for New York City or Los Angeles in the chart due to their disproportionately large size. County level population estimates were sometimes used instead of city estimates to better reflect the Continuum of Care regions. The main city in each county is displayed on the chart.</div>
        <div class="source">
          <em>Source: <a href="https://www.hudexchange.info/resource/3031/pit-and-hic-data-since-2007/" target="_blank">Housing and Urban Development</a>, American Community Survey 2014 population estimates</em>
        </div>

    </div>

    </responsive-child>

    <script>
      var pitData = <%= JSON.stringify(csv.homeless_pit_data_2015) %>;
      var pymChild = new pym.Child({polling: 500});
    </script>

    <script src="../bycity_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
