<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body is="responsive-body">

      <div class="outer outer-quote">

        <div class="huge-quote">“</div><div id="statement"></div>

      </div>
      <div class="outer outer-quote-credit">
        <div class="source">
          <em>Complaints filed by residents at the Crosby Hotel to DBI. All were substantiated by building inspectors except those marked with an asterisk, which relate to other issues that have occurred at the hotel over the past two years. In some instances, text was edited for brevity, spelling and grammar.</em>
        </div>
        <div class="credit">
          <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
          <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">Source:
          <em>Department of Building Inspections</em>
        </div>
      </div>

    <script>
      var srosTextData = <%= JSON.stringify(csv.srosText) %>;
    </script>
    <script src="http://projects.sfchronicle.com/shared/js/responsive-child.js"></script>

    <script src="../srostext_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
