<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="historical-container">

      <div class="hed">
       Statistics on homelessness in <span class="info"></span></div>

      <div class="chatter">
        The number of years people who are staying homeless is growing larger, as well as the age of those who are growing older.
      </div>

      <div class="outer-chart" style="overflow: auto">

        <div class="historical-chart" style="padding-bottom: 35px">

        <div id="historical-1">
            <h4 style="margin-left: 25px; margin-right: 25px; text-align: center">Proportion of those homeless more than a decade</h4>
            <div class="waffle-chart"></div>
        </div>

        <div id="historical-2">
            <h4 style="margin-left: 25px; margin-right: 25px; text-align: center">Proportion of those homeless 60 or older</h4>
            <div class="waffle-chart-2"></div>
        </div>

        </div>

      </div>

      <div class="credit">
        <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
        <div class="entry">Benjamin Din  &bull; <a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></div>
      </div>
      <div class="source padded">
        <em>Source: Department of Public Health’s Coordinated Care Management System data.</em>
      </div>

  </responsive-child>

    <script>
      var waffleData = <%= JSON.stringify(csv.waffle_data) %>;
      console.log(waffleData);
      var pymChild = new pym.Child({polling: 500});
    </script>

    <script src="../historical_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
