<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="historical-container">

      <div class="hed" id="historical-hed">
       Age and tenure of homeless people<span class="desktop-only"> in <span class="info info-1"></span></span></div>

      <div class="chatter">
        San Francisco’s homeless population is getting older, and the number of people that have spent more than a decade on the streets – either continuously or intermittently – has increased steadily.
      </div>

      <div class="outer-chart" style="overflow: auto">

        <div class="historical-chart">

        <div id="historical-1">
            <h4>Proportion of those homeless over a decade<span class="mobile-only"> in <span class="info info-2"></span></span></h4>
            <div class="waffle-chart"></div>
        </div>

        <div id="historical-2">
            <h4>Proportion of homeless people 60 or older<span class="mobile-only"> in <span class="info info-3"></span></span></h4>
            <div class="waffle-chart-2"></div>
        </div>

        </div>

      </div>

      <div class="credit">
        <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
        <div class="entry">Benjamin Din  &bull; <a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></div>
      </div>
      <div class="source padded">
        <em>Source: Department of Public Health’s Coordinated Care Management System data.</em>
      </div>

    </div>
  </responsive-child>

    <script>
      var waffleData = <%= JSON.stringify(csv.waffle_data) %>;
      console.log(waffleData);
      var pymChild = new pym.Child({polling: 500});
    </script>

    <script src="../historical_app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
