.tooltip-srosmap {
  position: absolute;
  font-family: @block-graphics;
  font-size: 16px;
  background: white;
  padding: 10px 20px;
  border: @light-gray 1px solid;
  visibility: hidden;
  .bold {
    font-family: @med-graphics;
  }
}

.legend {
  font-family: @block-graphics;
  font-size: 14px;
  //text-align: center;
  // border: 1px solid @black;
  // border-radius: 6px;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
  @media @mobile {
    margin-bottom: 15px;
  }
  padding: 5px;
  .legend-entry {
    display: inline-block;
    width: 300px;
    text-align: center;
  }
  .crcs-swath, .others-swath {
    height: 14px;
    width: 14px;
    //margin: 4px auto;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .crcs-swath {
    background: #C4304C;
  }
  .others-swath {
    background: #6C85A5;
  }
  .legend-text {
    width: 250px;
    padding-left: 20px;
    vertical-align: text-top;
  }
}

.mapchatter {
  margin-bottom: 0px !important;
}

#sros-map {
  margin: auto;
}

.space {
  display: none;
  @media @mobile {
    width: 150px;
    height: 150px;
  }
}
